//@import "node_modules\bootstrap-sass\assets\stylesheets\bootstrap";
/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors{
  color: #fa755a;
}

.body{
  margin-top:120px;
}

.breadcrumb{
  background-color: #e6e6e6 !important;
}

#main-body{
  background-color:#e6e6e6;
  font-size: 16px;
}

#navigation-bar{
  background-color:#ff80b3;
  font-size: 20px;
}

#search-bar{
  margin-top: 20px;
  width: 72%;
  height: 40px;
}

#search-button{
  height: 40px;
  width: 25%;
  margin-top: 20px;
}

.carousel-inner img {
  width: 70%;
  height: 70%;
}

#products{
  margin-top: 200px;
}

.nav-products{
  float: left;
}

#login-form{
  margin-top: 100px;
}

#registration-form{
  margin-top: 100px;
}

#footer{
  bottom: 0;
}

#card-payment{
  margin-top: 120px;
}

#cart-table{
  margin-top:120px;
}

#quantity-minus{
  float:left;
  margin-top: 40px;
}

#quantity-plus{
  float:left;
  margin-top: 40px;
}

.quantity{
  float:left;
  margin-top: 40px;
}

.price{
  margin-top:40px;
}

#delete-item{
  margin-top:40px;
}

#product-image{
  float:right;
}

#comment-delete{
  float:right;
}

.comments{
  margin-top: 2px;
}

#quantity{
  float:left;
}

#black-tag{
  color:#000000;
}

#purple-tag{
  color: #ff80b3;
}

#card-button{
  width: 150px;
  height: 50px;
}

#cashondelivery-form{
  float:left;
  width: 45%;
}

#cashondelivery-table{
  float:right;
  width: 50%;
}

#payment-form{
  float:left;
  width: 45%;
}

.star-box{
  direction: rtl;
}

.star-box a{
  font-size: 20px;
  color: #000000;
  transition: 0.3s all;
}

.star-box a:hover{
  text-underline: #e6e6e6 !important;
  color: #ff80b3;
}

#star1:hover ~ a{
  color: #ff80b3;
}

#star2:hover ~ a{
  color: #ff80b3;
}

#star3:hover ~ a{
  color: #ff80b3;
}

#star4:hover ~ a{
  color: #ff80b3;
}

#star5:hover ~ a{
  color: #ff80b3;
}

.select-payment{
  float: left;
}

.pagination{
  float: right;
}

.pagination ul li:first-child,
.pagination ul li:last-child{
  display:none;
}

.pagination ul li a,
.pagination ul li span{
  color: white;
  display: block;
  line-height: 30px;
  width:50px;
  text-align:center;
  border-radius: 5px;
}

.pagination ul li.active span{
  background-color: #000000;
}

.pagination ul li a{
  background-color: #fcc4e4;
}

.pagination ul li a:hover{
  text-decoration:none;
  background-color: #ff80b3;
}

#no_results{
  margin-left: 25%;
}


